@model IEnumerable<System.Security.Claims.Claim>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <h4>Claims</h4>
</div>

<table>
    <tr>
        <th>Subject</th><th>Issuer</th><th>Type</th><th>Value</th>
    </tr>
    @if (Model?.Any() != true)
    {
        <tr>
            <td colspan="4">No Claims</td>
        </tr>
    }
    else
    {
        foreach (var claim in Model.OrderBy(x => x.Type))
        {
            <tr>
                <td>@claim.Subject.Name</td>
                <td>@claim.Issuer</td>
                <td identity-claim-type="@claim.Type"></td>
                <td>@claim.Value</td>
            </tr>
        }
    }
</table>
